{% extends "base.html" %}
{% load staticfiles %}

{% block container %}
    <div class="landing-page">
        <div style="margin-bottom: 30px; padding-top: 20px;">
            <img src="{% static 'img/oauau-medium-transp-open.png' %}" id="oauau-image" />
        </div>
        <h1 class="special-title-bold">Obrigada!</h1>
        <h3>
            Clique no link abaixo para fazer o download do Livro de Atividades
            do au au.
        </h3>
        <h3>
            <a href="{% static 'pdf/o-au-au-livro-de-atividades.pdf' %}" target="_blank">
                O au au - Livro de Atividades
            </a>
        </h3>
        <br>
    </div>
{% endblock %}

{% block bottomjs %}
    {% include "logo-animated.html" %}
{% endblock %}