{% extends "base.html" %}
{% load staticfiles %}

{% block title %}O au au | Livro de Atividades{% endblock %}
{% block ogtitle %}Já baixou o seu livro do au au?{% endblock %}
{% block ogdescription %}Ele estará gratuito na Amazon http://bit.ly/oauaulivro entre os dias 21 e 25 de setembro. Baixe o seu e receba de brinde o livro de atividades.{% endblock %}

{% block container %}
    <div class="landing-page">
        <div style="margin-bottom: 30px; padding-top: 20px;">
            <img src="{% static 'img/workbook-confirmation-page.png' %}" id="oauau-image" />
        </div>
        <h1 class="special-title-bold">Obrigada!</h1>
        <h3>
            Clique no link abaixo para fazer o download do Livro de Atividades
            do au au.
        </h3>
        <h3>
            <a href="{% static 'pdf/o-au-au-livro-de-atividades.pdf' %}" target="_blank">
                O au au - Livro de Atividades
            </a>
        </h3>
        <br>
    </div>
{% endblock %}
