{% extends "base.html" %}
{% load staticfiles %}

{% block title %}O au au | Livro de Atividades{% endblock %}
{% block ogtitle %}Já baixou o seu livro do au au?{% endblock %}
{% block ogdescription %}Ele está gratuito no (link do amazon). Baixe o seu e receba de brinde o livro de atividades.{% endblock %}

{% block container %}
    <div style="text-align: center; padding: 10px;">
        <div style="margin-bottom: 50px;">
            <img src="{% static 'img/oauau-medium-transp.jpg' %}" >
        </div>
        <h1 class="special-title-bold">
            Olá,
        </h1>
        <h3>
            Se inscreva abaixo para baixar o Livro de Atividades do au au
        </h3>
        <form id="form-subscriber" action="{% url 'workbook' %}" method="post">
            {% include "workbook/signup_form.html" %}
        </form>
        <br>
        <br>
    </div>
{% endblock %}

{% block bottomjs %}
    <script>
        var img = new Image();
        img.src = '{% static 'img/ajax-loader.png' %}';
        $(window).load(function () {
            window.setTimeout(function () {
                $('object').remove();
            }, 500);

            $("#form-subscriber input[name=email]").focus();
            $("#form-subscriber").submit(function (e) {
                e.preventDefault();
                var email = $(this).find('input[name=email]').val();
                var data = {
                    csrfmiddlewaretoken: $(this).find('input[name=csrfmiddlewaretoken]').val(),
                    email: email,
                    last_name: $(this).find('input[name=last_name]').val(),
                    first_name: $(this).find('input[name=first_name]').val(),
                };
                $('#form-subscriber .errorlist').slideUp();
                $('#cover').fadeIn();
                $.ajax({
                    type: 'post',
                    url: $(this).attr('action'),
                    data: data,
                    success: function (data) {
                        $('#cover').fadeOut(function () {
                            if (!data.success) {
                                $('#form-subscriber').html(data.html);
                                $('#form-subscriber .errorlist').hide().slideDown();
                                $('#form-subscriber .non-field-errors').hide().slideDown();
                                if ($('#form-subscriber .non-field-errors').html()) {
                                    window.location.replace('{% url 'workbook_confirmation' %}?s=' + data.s);
                                }
                                return;
                            }
                            $("#form-subscriber").html('<h2 style="color: green">Uma mensagem foi enviada para o email ' + email + '.</h2>');
                            $("#form-subscriber").effect('highlight', 2000, function () {
                                $("#form-subscriber").effect('highlight', 2000);
                            });
                        });
                    }
                });
            });
        });

    </script>
{% endblock %}
