{% extends "base.html" %}
{% load staticfiles %}

{% block container %}
    <div class="landing-page">
        <div style="margin-bottom: 30px; padding-top: 20px;">
            <img src="{% static 'img/confirmation-page.png' %}" id="oauau-image" />
        </div>

        <h1 class="special-title-bold">Oba!</h1>
        <h2>Seu cadastro foi confirmado com sucesso!</h2>
        <h3>
            Você será sempre o primeiro a saber de novos jogos, vídeos e
            atividades divertidas.
        </h3>
        <h3>
            Clique abaixo para baixar o calendário do au au de fevereiro no formato preferido:
        </h3>
        <h3>
            <a href="{% static 'img/calendar/2016/abril_desktop.jpg' %}">
                Desktop
            </a>&nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="{% static 'img/calendar/2016/abril_celular.jpg' %}">
                Celular
            </a>&nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="{% static 'img/calendar/2016/abril_tablet.jpg' %}">
                Tablet
            </a>
        </h3>
        <h3>
            Espero que você goste! :-)
        </h3>
        <br>
        <h2>
            P.S.: Quer ler a historinha do au au?<br>
        </h2>
        <a target="_blank" href="http://bit.ly/oauaulivro">
            Clique aqui para ter acesso ao livro.
        </a>
        <br>
        <br>
    </div>
{% endblock %}

