{% extends "base.html" %}
{% load staticfiles %}

{% block container %}
    <div class="landing-page">
        <div style="margin-bottom: 30px; padding-top: 20px;">
            <img src="{% static 'img/oauau-medium-transp-open.png' %}" id="oauau-image" />
        </div>
        <div id="content">
            <h1 class="special-title">
                <span class="special-title-bold">Oba!</span><br>
            </h1>
            <h3>
                Quer um calendário super fofo do au au? Coloque os seus dados
                abaixo e receba o seu, gratuitamente!
            </h3>
            <form id="form-subscriber" action="{% url 'landing_page' %}" method="post">
                {% include "signup_form.html" %}
            </form>
            <br>

            <p>
                <a href="https://www.facebook.com/oauau/">
                    Clique aqui para conhecer a página do facebook do au au.
                </a>
            </p>
            <p>
                P.S.:
                <a href="http://www.amazon.com.br/o-au-Flavia-Bernardes-ebook/dp/B015EO08N0/ref=sr_1_1?ie=UTF8&qid=1443371333&sr=8-1&keywords=o+au+au" target="_blank">
                    Clique aqui para acessar o livro do au au
                </a>
            </p>
            <p>
                P.P.S: Já viu o vídeo da historinha do au au? <a href="https://www.youtube.com/watch?v=TdH9zM2O5qo" target="_blank">Clique aqui para assistir.</a>
            </p>
        </div>
        <br>
    </div>
{% endblock %}

{% block bottomjs %}
    {% include "logo-animated.html" %}
    <script async src="{% static 'js/newsletter.js' %}"></script>
    <script type="text/javascript">var switchTo5x=true;</script>
    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
    <script type="text/javascript" src="http://s.sharethis.com/loader.js"></script>
    <script type="text/javascript">stLight.options({publisher: "023fcf4a-4582-470d-8c44-a22303a1ce96", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
    <script>
    var options={ "publisher": "023fcf4a-4582-470d-8c44-a22303a1ce96", "position": "left", "ad": { "visible": false, "openDelay": 5, "closeDelay": 0}, "chicklets": { "items": ["facebook", "twitter", "googleplus", "pinterest", "email", "sharethis"]}};
    var st_hover_widget = new sharethis.widgets.hoverbuttons(options);
    </script>
{% endblock %}
