{% extends "base.html" %}
{% load staticfiles %}

{% block container %}
    <div class="landing-page">
        <div style="margin-bottom: 50px; padding-top: 20px;">
            <img src="{% static 'img/oauau-medium-transp-open.png' %}" id="oauau-image" />
        </div>
        <h1 class="special-title-bold">Obrigada!</h1>
        <h3>
            Assim que o livro do au au for lançado você receberá uma
            notificação.
        </h3>
        <br>
        <br>
    </div>
{% endblock %}

{% block bottomjs %}
    {% include "logo-animated.html" %}
{% endblock %}
