{% csrf_token %}

{% if form.non_field_errors %}
    <div class="non-field-errors">
        {{ form.non_field_errors }}
    </div>
{% endif %}

{{ form.errors.email }}
<input type="email" name="email" value="{{ form.data.email }}" placeholder="e-mail" class="required" /><div></div>
{{ form.errors.first_name }}
<input type="text" name="first_name" value="{{ form.data.first_name }}" placeholder="nome" class="required half" />
{{ form.errors.last_name }}
<input type="text" name="last_name" value="{{ form.data.last_name }}" placeholder="sobrenome (opcional)" class="half last" /><div></div>
<button disabled="disabled">Enviar</button>
