{% csrf_token %}

{% if form.non_field_errors %}
    <div class="non-field-errors">
        {{ form.non_field_errors }}
    </div>
{% endif %}

{{ form.errors.email }}
<input type="email" name="email" value="" placeholder="e-mail" class="required" /><div></div>
{{ form.errors.first_name }}
<input type="text" name="first_name" value="" placeholder="primeiro nome" class="required half" />
{{ form.errors.last_name }}
<input type="text" name="last_name" value="" placeholder="último nome (opcional)" class="half last" /><div></div>
<button>Enviar</button>
