{% load staticfiles %}
<ul class="social-inline social-{{ size }}">
    <li class="facebook">
        <a href="https://www.facebook.com/flaviabernards" target="_blank"></a>
    </li>
    <li class="instagram">
        <a href="https://instagram.com/flaviabernards/" target="_blank"></a>
    </li>
    <li class="twitter">
        <a href="https://twitter.com/flaviabernards" target="_blank"></a>
    </li>
    <li class="pinterest">
        <a href="https://www.pinterest.com/flaviabernards/" target="_blank"></a>
    </li>
</ul>
<div class="clear"></div>